<html>
	<head>
	<title> ACP Brevets Calculator Login</title>
	</head>
	<body>
		<form method="POST" action="/login">
			{{form.csrf_token}}
			{{form.username.label}}
			{{form.username}}
			{{form.password.label}}
			{{form.password}}
			{{form.rememberme.label}}
			{{form.rememberme}}
			<input type="submit" value="login" />
		</form>
		<p>If you do not have an account <a href='/frontregister'>register here</a></p>
	</body>
</html>