<html>
	<head>
	<title> ACP Brevets Calculator Member Registration</title>
	</head>
	<body>
		<form method="POST" action="/frontregister">
			{{form.csrf_token}}
			{{form.username.label}}
			{{form.username}}
			{{form.password.label}}
			{{form.password}}
			{{form.confirmpass.label}}
			{{form.confirmpass}}
			<input type="submit" value="register" />
			<p>Already Have an Account <a href='/login'>Login Here</a></p>
		</form>
	</body>
</html>